rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /playlists/{docId} {
      // allow only logedin people to do these actions
      allow read, create: if request.auth != null;

      // allow the "right" loggedin user to do these actions
      allow delete, update: if request.auth.uid == resource.data.userId;
    }
  }
}


